<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--Left side div-->
                    <div class="col-md-6 col-12 main_header_right">
                       <figure>
                           <img src="images/about.png" alt="vishu" class="img-fluid" title="Vishu Singh">
                       </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my about page</p>
                        <h1>I am a <span class="text_clr">Web Developer</span> and professional<span class="text_clr"> Hacker</span>.</h1>
                        <a href="/about" target="vishu"><button>About Me</button></a>
                    </div>
                    <!--Right side div-->
                    
                </div>
            </div>
        </div>
    </div>
    <!--footer code-->
    {{>footer}}
</body>
</html>